/* general style for the body */
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: beige;
}
/* general style in th container, included in header and in the general information section
i think later the header tag overwrites some of this stuff */

.container{
    margin: auto; 
    overflow: hidden;
}
ul {
    padding: 0;
    margin: 0;
    
}
/* styling in header in general */


header h3{
    width: 150%;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    color :#ffffff;
    

}


header a{
    color: #777777;
    text-decoration: none;

    font-size: 12px;
}
 

header li{
    margin-top:10px;
    float : left;
    display: inline-table;
    padding: 0 20px 0 20px;  
}
header #name{
    float: left;

}



/* styling for the body, the boxes, etc. */

#boxes {
    margin:auto;
    width: 960px;
    height:auto;
    background-color: #ffffff;
    z-index: -1;

}

#boxes .caption{
    width:100%;
    max-width:100%;
    color:black;
     
}
#boxes h3{
    color:#4aaaa5;
    margin:15px;
}
#boxes img{
    width:250px;
    margin-left: 15px;
    padding: 15px;
    float: left;
}

#boxes p{
    margin: 15px;
}
#boxes h4{

    margin-left: 15px;
}

#boxes h5{
    font-size:20;
    position: absolute;
    margin:1px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff
    
}
#boxes form{
    margin:20px;
}

#boxes .box1{
    float:left;
    padding: 15px;
    min-width: 350px;
    min-height: 200px;
    background: url("../images/im1.jpeg") no-repeat;
    margin : 15px;
   

}
#boxes .box2{
    float: right;
    padding:15px;
    min-width: 350px;
    min-height: 200px;
    background: url("../images/im2.jpeg") no-repeat;
    margin : 15px;
    
}
#boxes .box3{
    float: left;
    padding:15px;
    min-width: 350px;
    min-height: 200px;
    background: url("../images/im3.jpg") no-repeat -200px -100px;
    margin : 15px;
    
}
#boxes .box4{
    float: right;
    padding:15px;
    min-width: 350px;
    min-height: 200px;
    background: url("../images/im4.jpg") no-repeat -300px -50px;
    margin : 15px;
    
}
#boxes .box5{
    float: left;
    padding:15px;
    min-width: 350px;
    min-height: 200px;
    background: url("../images/im5.jpg") no-repeat -200px -100px;
    margin : 15px;
    
}
/* input info styling on contacts page, the first two input */

input {
    width:100%;
}

/* last input info box on on contacts page, message box */

input[type = text]{
    height:200px;
}

/* submit button, basic dimention and color */

.button_1{
    margin-top:15px;
    height: 38px;
    background: #4aaaa5;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;

}
/* sticky footer */
footer {
    position: fixed;
    left: 0 ; right : 0; bottom: 0;
    padding:20px;
    margin-top:20px;
    color : #ffffff;
    text-align: center;
    background-color:#666666;
    border-top: #4aaaa5 10px solid;
    
}

@media screen and (max-width: 767px){
    #boxes .container, .container{
        width:60%;
    }

    #boxes, 
    #boxes .box1,
    #boxes .box2,
    #boxes .box3,
    #boxes .box4,
    #boxes .box5{
        width : 80%;

    }

    
}



